body {
  background-color: #fffbf7;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 60px;
}

h2 {
  color: #46484c;
}

p {
  color: #8b8b8bcc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20;
}

button {
  color: #fff;
  background-color: #025157;
}

li {
  display: inline;
}

.header {
  margin: 40px, 20px, 0, 20px;
  font-size: 0;
  line-height: 45px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  font-family: sans-serif;
}

.header__logo {
  width: 15%;
}

/* .header__navbar {
  width: 70%;
  text-align: center;
} */

.header__nav--items li {
  padding-right: 25px;
  padding-left: 25px;
  color: #025157;
}

.header__actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
}

.header__actions > * {
  padding-left: 10px;
  padding-right: 10px;
}

/* .content__ads {
  background-color: red;
} */

div > a {
  color: #67b54b;
  text-decoration: none;
}
div > button {
  color: white;
  background-color: #67b54b;
  padding-top: 14px;
  padding-right: 12px;
  padding-bottom: 14px;
  padding-left: 12px;
  border: none;
  border-radius: 5px;
}

.content__ads h3 {
  font-family: sans-serif;
  font-size: 2em;
  /* line-height: 48px; */
  color: #025157;
  text-align: start;
  font-weight: bold;
}

.content__ads > p {
  color: #343434;
  line-height: 1.5;
}

.content__ads > form p {
  color: rgb(133, 131, 131) (133, 131, 131);
  padding-right: 1.2em;
}

.content__ads > form input {
  padding: 6px;
  border-radius: 1em;
  border-color: grey;
}

.content__ads > form button {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.content__multimedia {
  width: 100%;
  margin: 100px auto;
  display: flex;
}

/* .content__vidimg{
  display: flex;
  align-items: center;
} */

.content__vidimg > section {
  padding-right: 10px;
}

.content__vidimg img {
  width: 120px;
  margin-top: 10px;
  display: flex;
}

/* #BRAND */

.content__brands {
  background-color: #a1d683;
  padding: 5% 15%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.content__brands--team {
  width: 50%;
  margin: 100px 100px;
  flex-direction: column;
}

.content__brands--team h2 {
  color: #025157;
  font-size: 50px;
}

.content__brands--team p {
  color: black;
  line-height: 1.5em;
}

.content__brands--team button {
  background-color: #025157;
}

.content__brands--team img {
  padding-top: 5%;
  width: 80%;
  margin: auto;
}

.content__brand--case {
  align-items: center;
  max-height: 620px;
  height: 100%;
  max-width: 300px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 3%;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content__brand--case img {
  max-height: 280px;
  height: 100%;
  max-width: 310;
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  object-fit: cover;
}

.content__brand--case-data {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
}

.content__brand--header-color {
  color: #025157;
  font-weight: bold;
  font-size: 0.9em;
}

.container__brand--text-black p {
  color: black;
  font-size: 20px;
}

.content__brand--case-icon {
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
  align-items: center;
}

.content__brand--case-icon p {
  padding-left: 4%;
  width: 60%;
  font-size: 12px;
  color: grey;
}
.content__brand--case-icon img {
  width: 20px;
}

.content__brand--case-data button {
  margin-top: 8px;
  width: 100%;
  background-color: #025157;
}

.content__circle {
  position: absolute;
  display: flex;
  margin: 250px;
  left: 61%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #f9da73;
  justify-content: center;
  align-items: center;
}

.content__cicle--wrapped {
  width: 100%;
  height: 100%;
}

.content__cicle--img {
  width: 75px;
}

.features {
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-gap: 25px;
  /* grid-template: repeat(2, 330px) / repeat(2, 1fr); */
  grid-template: repeat(2, 600px) / repeat(2, 1fr);
}

.features .feature__card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature__card .feature__content {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-left: 40px;
  flex: 2;
}

.features .feature__card .feature__img {
  display: block;
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature__card .feature__content > * {
  margin: 1rem;
  padding-top: 0;
}

.feature__content img {
  width: 50px;
}

.feature__content h3 {
  font-size: 1.8em;
  color: #343434;
  font-weight: 400;
}

.feature__content p {
  font-size: 1em;
  /* line-height: 1.5; */
  color: #a0a0a0;
  font-weight: 400;
}

.feature__content a {
  font-size: 1em;
  color: #67b54b;
  font-weight: bold;
  text-decoration: none;
}

.feature__img img {
  margin-top: 0;
  height: 100%;
}

.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}
/* ABOUT MATCHA */

.aboutMatcha {
  padding: 5% 10%;
  text-align: center;
}

.aboutMatcha > h2 {
  color: #025157;
  font-size: 3.125em;
  font-weight: regular;
  color: #025157;
}

.aboutMatcha > p {
  color: #383838;
  width: 60%;
  font-size: 1.2em;
  font-weight: regular;
  margin: 0 auto;
  margin-bottom: 1em;
}

.aboutMatcha .greenWord {
  color: #67b54b;
  text-decoration: none;
}

.aboutMatcha > button {
  padding: 1em 1.25em;
  border-radius: 8px;
  font-size: 0.8em;
  color: #fff;
  font-weight: 600;
}

.aboutMatcha__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
}

.aboutMatcha .aboutMatcha__cards .aboutMatcha__card {
  background-color: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.aboutMatcha__imgCover {
  width: 100%;
  height: 100%;
}

.aboutMatcha__img {
  position: relative;
  height: 350px;
}

.aboutMatcha__content {
  padding: 25px;
  text-align: left;
}

.aboutMatcha__content h3 {
  text-align: center;
  font-size: 1.875em;
  line-height: 36px;
  font-weight: regular;
  color: #025157;
}

.aboutMatcha__content p {
  margin-bottom: 1em;
  color: #383838;
}

.aboutMatcha__content a {
  font-weight: bold;
  color: #67b54b;
  line-height: 1.4;
}

.aboutMatcha__icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
}

footer{
  background-color: #a1d683 ;
}

footer h5{
  color: #025157;
}

footer p {
  color : #383838;
}

footer ul>li>a {
  color: #fff;
}

/* VIEWPORTS */
/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  /* .header__navbar,
  .header__actions {
    display: none;
  } */

  body{

    overflow-y: scroll;
  }
  
  h1 {
    font-size: 30px;
  }

  .content__h {
    text-align: center;
  }

  .content__h > figure {
    width: 100%;
  }

  .content .publish > form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 90%;
    padding: 15px 20px;
  }

  .content__multimedia{
    display: flex;
    flex-direction: column;

  }

  .content__ads h3{
    margin-top: 0.8rem;
    font-size: 1.5em;
  }
  .content__ads p{
    font-size: 0.9em;
    text-align: justify;
  }

  .content .publish > form > input {
    width: 90%;
  }

  .content .publish > form > button{
    width: 92%;
  }

  .content .content__multimedia {
    display: flex;
    flex-direction: column;
  }

  .content .content__multimedia h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .content__brands{
    display: flex;
    flex-direction: column;
  }
  .content__brands--team h2{
    font-size: 1.8em;
    text-align: justify;
  }

  .content__brands--team img{
    width: 300px;
  }

  .features{
    grid-template: repeat(4, 1fr) / 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .feature__img img{
    display: none;
  }

  .aboutMatcha > *{
    display: flex;
    gap: 25px;
    flex-direction: column;
  }
}
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  body{

    overflow-y: scroll;
  }
  
  h1 {
    font-size: 30px;
  }

  .content__h {
    text-align: center;
  }

  .content__h > figure {
    width: 100%;
  }

  .content .publish > form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 90%;
    padding: 15px 20px;
  }

  .content__multimedia{
    display: flex;
    flex-direction: column;
  }

  .content .publish > form > input {
    width: 90%;
  }

  .content .publish > form > button{
    width: 92%;
  }

  .content .content__multimedia {
    display: flex;
    flex-direction: column;
  }

  .content .content__multimedia h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .features{
    grid-template-columns: repeat(2, 1fr) / 1fr;
    grid-template-rows: repeat(2, 1fr) / 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  .feature__img img{
    display: none;
  }

  .aboutMatcha > *{
    grid-template: repeat(4, 1fr) / 1fr;
    gap: 25px;
  }

}
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {


  .content__ads h3{
    font-size: 1.6em;
  }

  .content__ads p{
    text-align: justify;
  }

  .feature__card h3{
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
  }

  .feature__card p{
    font-size: 1em;
    font-weight: regular;
    text-align: left;
  }

  .feature__card a{
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
  }

  .aboutMatcha__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 70px;
    gap: 1.2em;
  }

  .aboutMatcha__img {
    position: relative;
    height: 200px;
  }
  .content__multimedia{
    display: flex;
    flex-direction: column;
  }

  .content__brands--team h2{
    font-size: 0.2em;
    text-align: justify;
  }


}
/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .content__ads h3{
    font-size: 1.4em;
  }
  .content__ads p{
    font-size: 0.9em;
  }

}
/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
}
