body {
  background-color: rgb(224, 187, 149);
}

h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: #46484c;
}

p {
  color: #8b8b8bcc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20;
}

button {
  color: #fff;
  background-color: #025157;
}

li {
  display: inline;
}

.header {
 margin: 40px, 20px, 0, 20px;
  font-size: 0;
  line-height: 45px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  font-family: sans-serif;
}

.header__
logo {
    width: 15%;
}

.header__navbar{
    width: 70%;
    text-align: center;

}

.header__nav--items li {
    padding-right: 25px;
    padding-left: 25px;
    color: #025157;
}

.header__actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}

.header__actions > *{
    padding-left: 10px;
    padding-right: 10px;
}

div>a{
    color: #67b54b;
    text-decoration: none;
}
div>button{
    color: white;
    background-color: #67b54b;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    border: none;
    border-radius: 5px;
}
