body {
  background-color: #fffbf7;
}

h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: #46484c;
}

p {
  color: #8b8b8bcc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20;
}

button {
  color: #fff;
  background-color: #025157;
}

li {
  display: inline;
}

.header {
 margin: 40px, 20px, 0, 20px;
  font-size: 0;
  line-height: 45px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  font-family: sans-serif;
}

.header__
logo {
    width: 15%;
}

.header__navbar{
    width: 70%;
    text-align: center;

}

.header__nav--items li {
    padding-right: 25px;
    padding-left: 25px;
    color: #025157;
}

.header__actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}

.header__actions > *{
    padding-left: 10px;
    padding-right: 10px;
}

/* .content__ads {
  background-color: red;
} */

div>a{
    color: #67b54b;
    text-decoration: none;
    
}
div>button{
    color: white;
    background-color: #67b54b;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    border: none;
    border-radius: 5px;
}

.content__ads h3{
  font-family: sans-serif;
  font-size: 2em;
  line-height: 48px;
  color: #025157;
  text-align: start;
  font-weight: bold;
}

.content__ads > p{
  color: #343434;
  line-height: 1.5;
}

.content__ads > form p{
  color: rgb(133, 131, 131)(133, 131, 131);
  padding-right: 1.2em;
}

.content__ads > form input{
  padding: 20px;
  border-radius: 1em;
  border-color: grey;
}

.content__ads > form button{
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  padding-right: 1.2em;
}

.content__multimedia{
  width: 70%;
  margin: 100px auto;
  display: flex;

}


/* .content__vidimg{
  display: flex;
  align-items: center;
} */

.content__vidimg > section {
  padding-right: 10px;
} 

.content__vidimg img{
  width: 120px;
  margin-top: 10px;
}

